.md{
    display: flex;
    align-items: center;
    justify-content: center;

}
img {
    width: 200px; 
    display: inline-block;
    margin: 20px 75px;
    vertical-align: middle;
    border: 5px solid #555;
}  
.text
{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Helvetica';  ;  
}
body 
{
    color: DarkSlateGrey; 
    background-color: mintcream;

}